@import url(fonts/thsarabunnew.css);
  .highlight2{
    background-color: rgb(238, 191, 104);
     /*border-radius: 10px;*/
    font-family: 'THSarabunNew', sans-serif;
    font-size: 17px;
  }
  .highlight{
    background-color: rgb(238, 188, 191);
    /* border-radius: 40px; */
    font-family: 'THSarabunNew', sans-serif;
    font-size: 17px;

  }

.button {
    text-align:center;
}

   body {
       background: #fafad4;
       font-family: 'THSarabunNew', sans-serif;
      font-size: 17px; 
       /* font-weight: bold; */
   }
   .paper {
       position: relative;
       width: 100%;
       height: 100%;
       margin: 3px auto;
       background: #fafafa;
       border-radius: 10px;
       box-shadow: 0 2px 15px rgba(0,0,0,.5);
       overflow: hidden;
       font-family: 'THSarabunNew', sans-serif;
      font-size: 17px; 

   }
   .paper:before {
       content: '';
       position: absolute;
       top: 0; bottom: 0; left: 0;
       width: 60px;
       /* background: radial-gradient(#575450 6px, transparent 7px) repeat-y;
       background-size: 30px 30px; */
       border-right: 2px solid #D44147;
       box-sizing: border-box;
   }
   .paper-content {
       position: absolute;
       top: 30px; right: 0; bottom: 30px; left: 70px;
       /* background: linear-gradient(transparent, transparent 18px, #91D1D3 18px);
       background-size: 20px 20px; */
       overflow-y:scroll;
       /* overflow-x: hidden  !important; */
   }

   textarea {
    overflow-y:hidden;
    overflow-x: hidden ;
    overflow-wrap: break-word;
    /* width: 100% !important; */
       /*white-space: normal;*/
       /*text-align: justify;*/
   }
   .paper-content textarea {
       width: 100% !important;
       /* width:1270px; */
       height: 100%;
       outline: 0;
       padding: 0 0;
       background: transparent;
       color: black;
       font-family: 'THSarabunNew', sans-serif;
       font-size: 17px; 
       resize: none;

     
    }
  div::-webkit-scrollbar {
     width: 10px;
  }
  div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(58, 83, 83, 0.3);
  border-radius: 40px;
  }

  div::-webkit-scrollbar-thumb {
  background-color: rgb(141, 141, 141);
  outline: 3px solid rgb(3, 3, 3);
  border-radius: 40px;
  } 
  

/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
   .showoutopt{
    position: absolute;
    top: 30px;
    overflow-y:auto;
    overflow-x:auto;
    outline: 0;
    border: 1px;
    color: black;
    /* white-space: nowrap; */
    font-family: 'THSarabunNew', sans-serif;
    font-size: 15px; 
    width: 100%;
    height:80%;
    min-height: 50%;
    background: #fafafa;
    white-space: pre-line;
    /* overflow-wrap: break-word; */
    
   }

.paper2 {
    position: relative;
    width: 100%;
    height: 200px;
    margin: 1px auto;
    background: #fafafa;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0,0,0,.5);
    overflow: hidden;
    /* font-family: 'THSarabunNew', sans-serif;
   font-size: 17px;  */

}
.paper2:before {
    content: '';
    position: absolute;
    top: 10px; bottom: 10px; left: 60px;
    /* width: 60px; */
    border-right: 2px solid #D44147;
    box-sizing: border-box;
}
.paper-content2 {
  position: absolute;
  top: 0px; right: 0; bottom: 0px; left: 0px;
  /* background: linear-gradient(transparent, transparent 18px, #91D1D3 18px);
  background-size: 20px 20px; */
  overflow-y:hidden;
  overflow-x: hidden  !important;
}

textarea::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
textarea::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(58, 83, 83, 0.3);
border-radius: 40px;
}

textarea::-webkit-scrollbar-thumb {
background-color: rgb(141, 141, 141);
outline: 3px solid rgb(3, 3, 3);
border-radius: 40px;
} 
