 
.linedwrap {
	border: 0px solid #c0c0c0;
	padding: 3px;
}

.linedtextarea {
	padding: 0px;
	margin: 0px;
}

.linedtextarea textarea, .linedwrap .codelines .lineno {
  font-family: 'THSarabunNew', sans-serif;
  font-size: 17px; 
	line-height: normal !important;
}

.linedtextarea textarea {
	padding-right:0.3em;
	padding-top:0.3em;
	border: 0;
}

.linedwrap .lines {
	margin-top: 0px;
	width: 50px;
	float: left;
	overflow: hidden;
	border-right: 0px solid #c0c0c0;
	margin-right: 10px;
}

.linedwrap .codelines {
	padding-top: 30px;
}

.linedwrap .codelines .lineno {
	color:rgb(88, 88, 88);
	padding-right: 0.5em;
	padding-top: 0.0em;
	text-align: right;
	white-space: nowrap;
}

.linedwrap .codelines .lineselect {
	color: red;
}